*.iml
.gradle/
.idea/
dist/build/
jsdocs/
node_modules/
out/
results-*/
script-api/build/
script-editor/build/
script-engine/build/
script-runner/build/
script-tester/build/
settings.ini
tmp/
util/build/
view-metrics/build/
websocket/build/
mov-writer/build/
